.container {
  padding: 15px 35px;
  max-width: 1450px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
